
# user-specific configuration files
FileManager.opensdf
FileManager.sdf
FileManager.v12.suo
FileManager.vcxproj.user

# temporary and final build outcomes
Device-Debug/
QtLibs/
Simulator-Debug/
*.flag
installedApps.txt

# NuGet packages
packages/

